%div.scope_use{"ng-controller" => "ArtistBaseCtrl", :id => "artistTopDiv"}
  %div{"position-image" => "#{@bg_image}", :style => "background:url() no-repeat center top;position:absolute; width:100%; height:100%; top:0,left:0; z-index:-1;background-attachment:fixed;",:id => "actualImgView"}

  %div{:style => "width:100%;height:100%;position:absolute;background:rgba(255,255,255,0)",:class => "movable-image",:id => "movableImgView", "ng-show" => "isOwnProfile() == true"}

  %div{}
    .bandbar
      .barholder
        %h2.bandname
          {{artist.first_name}} {{artist.last_name}}
          %a.like{:href => "javascript:void(0)", "ng-class" => "{true: 'active', false : ''}[already_liked_artist]", "ng-click" => "likeArtist()"}  
        
        %div{"click-to-edit" => "artist.bio", "field-name" => "bio", "base-class" => "bandintro", "edit-label" =>"Change Short Bio", "params" => "artist.bio",  "max-chars" => "250", "ng-show" => "$parent.isOwnProfile() == true"}

        %p.bandintro{"ng-bind-html" => "artist.bio", "ng-show" => "isOwnProfile() == false"} 

        .memo
          %div{ "ng-switch on" => "artist.phase_id", "ng-cloak" => ""}
            %span{"ng-switch-when" => "1"}
              .audition.bold="{{artist.first_name}} {{artist.last_name}}"  + " is looking for ppl like you!"
            %span{"ng-switch-when" => "2"}
              .audition.bold="{{artist.first_name}} {{artist.last_name}}"  + " is looking for ppl like you"
    / bandbar ends
    .content.np
      .leftcol.lcol-mh    
        %photo-upload{"form-data" => "#{@cloudinary_params}", "cloudinary-api" => "#{@cloudinary_api}", "image-type" => "background_image", "title" => "Change Background Image", "base-class" => "editbtn", "style" => "position: absolute;top: 0;right: 0;","image-width" => "800", "image-height" => "600", "ng-show" => "isOwnProfile() == true"}  
        
        %a.editbtn{ :href => "javascript:void(0)", "ng-click" => "changeBackgroundPos()", "style" => "position: absolute;top: 10;left: 0;", "image-type" => "background_image", "ng-show" => "isOwnProfile() == true"} Change Background Image Position

        .videowindow
          %a.editbtn{ :href => "javascript:void(0)", "ng-click" => "showVideoUpload = true;", "ng-hide" => "showVideoUpload", "style" => "position: relative;", "ng-show" => "isOwnProfile() == true"} Change Video
          %video-upload{"ng-show" => "showVideoUpload", "base-class" => "playlist"}

          %div{"ng-repeat" => "video in userMedia | filter: {media_type: 2}"}
            %div{"ng-show" => "isLoggedIn() == true"}
              %a.adtoplaylist{:href => "javascript:void(0)", "ng-click" => "addMediaToPlaylist($event)", :style => "position:absolute;left:7px", "ng-show" => "showAddToPlaylist() == true"}
              .adarrows Add to Playlist
              %a.adtoplaylist{:href => "javascript:void(0)", :class => "active" ,:style => "position:absolute;left:7px", "ng-show" => "showAddToPlaylist() == false"}  
                .adarrows In your Playlist
            .video{"load-video" => "{{video.url}}", "ng-hide" => "showVideoUpload"}

          .playlist.np
            %a.addaudio{:href => "javascript:void(0)","ng-click" => "showAudioUpload = true;", "ng-hide" => "showAudioUpload", "ng-show" => "isOwnProfile() == true"} Add More Audio files
          %audio-upload{"ng-show" => "showAudioUpload", "base-class" => "playlist"}

          .playlist{"ng-repeat" => "audio in userMedia | filter: {media_type: 1} | orderBy: predicate"}  
            %play-audio2
            
      .rightcol
        .tabholder
          %ul.tabs
            %li
              %a.bio{ :href => "javascript:void(0)","ng-click" => "setCurrentTab('bio')", "ng-class" => "{true: 'active', false : ''}[getCurrentTab() == 'bio']"}
                %img{:alt => "BIO", :src => "/images/nav_bio.png"}/
                .marker  
                   
            %li
              %a.photos{ :href => "javascript:void(0)", "ng-click" => "setCurrentTab('photos')", "ng-class" => "{true: 'active', false : ''}[getCurrentTab() == 'photos']"}
                %img{:alt => "PHOTOS", :src => "/images/nav_photos.png"}/
                .marker
            %li
              %a.tellfriend.active{ :href => "javascript:void(0)","ng-click" => "setCurrentTab('supporter')", "ng-class" => "{true: 'active', false : ''}[getCurrentTab() == 'supporter']"}
                %div{"ng-show" => "artist.phase_id == 1"}Audition
                %div{"ng-show" => "artist.phase_id == 2"}Funding
                .marker
              
        / tabholder ends
        %div{"ng-switch on" => "cur_tab"}
          %div{"ng-switch-when" => "bio"}
            #bio.tab1.ui-tabs{:style => "display:block"}
              %div{ "ng-switch" => "", "on" => "artist.phase_id"}    
                %span{"ng-switch-when" => "1"}
                  %h2.fs24{"ng-bind" => "'Help ' + artist.first_name +' ' + artist.last_name +' get discovered!'"} 
                %span{"ng-switch-when" => "2"}
                  %h2.fs24{"ng-bind"=>"artist.first_name+' ' + artist.last_name +' is looking for Crowd do-ers!'"}    
              .introvideo 
                
              %div{"ng-switch" => "", "on" => "isOwnProfile()"}
                %div{"click-to-edit" => "artist.desc", "field-name" => "desc", "base-class" => "justify", "ng-switch-when" => "true", "edit-label" =>"Change Bio", "max-chars" => "1000"}

                %p.justify{"ng-switch-when" => "false", "ng-bind-html" => "artist.desc"} 
          %div{"ng-switch-when" => "photos"}
            #photos.tab2.ui-tabs{:class => "light-box"}
              %div{"ng-show" => "isOwnProfile() == true"}
                %photo-upload{"form-data" => "#{@cloudinary_params}", "cloudinary-api" => "#{@cloudinary_api}", "title" => "Add Photo", "image-type" => "image", "base-class" => "addphoto"}

              %div.photoholder    
                %div.pixholder.item{"ng-repeat" => "photo in userMedia | filter: {media_type: 0}"}
                  %div{"cloudinary-url" => "photo.url", "img-width" => "180", "itemindex"=>"$index","photos-length" => "photos_no.length", "last" => "$parent.state"}
                  %a.delbtn.photodel{:href => "javascript:void(0)", "ng-click" => "removePhoto()", "ng-mouseover" => "addShadow = '1';", "ng-mouseleave" => "addShadow = '1';", "ng-show" => "isOwnProfile() == true"} Delete
          %div{"ng-switch-when" => "supporter"}
            #friend.tab3.ui-tabs.crowd_scope{"ng-controller" => "SupporterCtrl"}     
              .goal-to-reach
                .fullbar{"ng-show" => "artist.phase_id == 1"}
                  .current-position{"style" => "left:{{(recd_data.artist_stats.shares/recd_data.artist_stats.sharing_goal * 100) | number:0 }}%;", "ng-show" => "recd_data.artist_stats.shares < recd_data.artist_stats.sharing_goal"}
                    .slider-triangle{"ng-show" => "recd_data.artist_stats.shares < recd_data.artist_stats.sharing_goal"}
                  .current-position{"style" => "left:100%;", "ng-show" => "recd_data.artist_stats.shares > recd_data.artist_stats.sharing_goal"}
                    .slider-triangle{"ng-show" => "recd_data.artist_stats.shares > recd_data.artist_stats.sharing_goal"}
                .fullbar{"ng-show" => "artist.phase_id == 2"}
                  .current-position{"style" => "left:{{recd_data.artist_stats.pledged_amount/recd_data.artist_stats.goal_amount * 100 | number : 0}}%;", "ng-show" => "recd_data.artist_stats.pledged_amount < recd_data.artist_stats.goal_amount"}
                    .slider-triangle{"ng-show" => "recd_data.artist_stats.pledged_amount < recd_data.artist_stats.goal_amount"}
                  .current-position{"style" => "left:100%;", "ng-show" => "recd_data.artist_stats.pledged_amount > recd_data.artist_stats.goal_amount"}
                    .slider-triangle{"ng-show" => "recd_data.artist_stats.pledged_amount > recd_data.artist_stats.goal_amount"}
                .current-count
                  %span.f14{"ng-show"=>"artist.phase_id == 1"} 
                    Current Shares:
                  %span.f14{"ng-show"=>"artist.phase_id == 2"} 
                    Current:
                  %span.f11{"ng-show"=>"artist.phase_id == 1"} 
                    {{recd_data.artist_stats.shares}}
                  %span.f11{"ng-show"=>"artist.phase_id == 2"} 
                    ${{recd_data.artist_stats.pledged_amount}}
                .fund-limit
                  %span.f14 Goal:
                  %span.f11{"ng-show"=>"artist.phase_id == 1"}
                    {{recd_data.artist_stats.sharing_goal}}
                  %span.f11{"ng-show"=>"artist.phase_id == 2"}
                    ${{recd_data.artist_stats.goal_amount}}
                .cfix
              %div{"ng-repeat" => "level in recd_data.support_levels"}
                .each-section
                  .top-head
                    %div
                      %h2{"show-crowd-doer" => ""}
                        %a{href: "javascript:void(0);"} {{level.level_name}}
                    .evange-images
                      %img{"ng-repeat"=>"crowd in level.crowds", "ng-src" => "{{crowd.crowd_avatar}}" }/            
                    %div {{level.max_participants}} available
                  %p
                    %span{{"ng-bind-html" => "level.level_desc"}}        
                  .bottom-btns
                    %div#share_div
                      .share-popup       
                        %a.fbShare{:href => "/media/share?nw_type=fb&object_id={{artist.id}}", "open-share-popup"=>"", "ng-show" => "loggedWithFb() == true"}       
                        %a.fbShare{:href => "/auth/facebook?from=share&object_id={{artist.id}}", "open-share-popup"=>"", "ng-show" => "loggedWithFb() == false"}
                     
                        %a.twitterShare{:href => "/media/share?nw_type=twitter&object_id={{artist.id}}", "open-share-popup"=>"", "ng-show" => "loggedWithTwitter() == true"} 
                        %a.twitterShare{:href => "/auth/twitter?from=share&object_id={{artist.id}}" ,"open-share-popup"=>"", "ng-show" => "loggedWithTwitter() == false"}

                      %a.click-btns{href: "javascript:void(0)", "display-share" => ""} 
                        %input{:type => "button", :value => "Click to Share"}/
                      %div{"ng-show" => "level.shares > $parent.recd_data.crowd_stats.shares"}
                        .share-progress{:style => "width: {{$parent.recd_data.crowd_stats.shares / level.shares * 100}}%;"}
                      .share-progress{"ng-show" => "level.shares < $parent.recd_data.crowd_stats.shares && level.shares > 0",:style => "width:100%;"}
                      .to-go{"ng-show" => "level.shares > $parent.recd_data.crowd_stats.shares"}
                        {{$parent.recd_data.crowd_stats.shares}} views. {{level.shares - $parent.recd_data.crowd_stats.shares}} to go.
                      .to-go{"ng-show" => "level.shares < $parent.recd_data.crowd_stats.shares"}
                        {{$parent.recd_data.crowd_stats.shares}} views.

                    %div    
                      %a.click-btns{:href => "javascript:void(0)", "ng-click" => "pledge()"} 
                        %input{:type => "button", :value => "Support $", "ng-class" => "{supportBtn : artist.phase_id == 2}"}/
                      .share-progress{"ng-show" => "level.funding > $parent.recd_data.crowd_stats.pledged_amount", :style => "width:{{$parent.recd_data.crowd_stats.pledged_amount / level.funding * 100 | number : 0}}%;"}
                      .share-progress{"ng-show" => "( (level.funding < $parent.recd_data.crowd_stats.pledged_amount || level.funding == $parent.recd_data.crowd_stats.pledged_amount) && level.funding > 0)", :style => "width:100%;"}
                      .to-go{"ng-show" => "level.funding > $parent.recd_data.crowd_stats.pledged_amount && artist.phase_id == 2"}
                        ${{$parent.recd_data.crowd_stats.pledged_amount}} pledged. ${{level.funding - $parent.recd_data.crowd_stats.pledged_amount}} to go.
                      .to-go{"ng-show" => "(level.funding < $parent.recd_data.crowd_stats.pledged_amount || level.funding == $parent.recd_data.crowd_stats.pledged_amount) && artist.phase_id == 2"}
                        ${{$parent.recd_data.crowd_stats.pledged_amount}} pledged.
                      .to-go{"ng-show" => "artist.phase_id == 1"}
                        not available until funding phase
                  .cfix
              .black_overlay.cardModal{:style => "display:none;"}
                .overlay_content{:style => "width:430px; max-height:388px; color:#000; background:#ccc; padding:15px 15px 5px;"}             
                  %h2.m10 Enter your credit card details
                  %form#payment-form{:name => "card_details", :action => "pledge", :method => "POST"}
                    %span.payment-errors
                    %table.signuptable{:style => "border:0; cellpadding: 0; cellspacing:0; width:100"}
                      %tbody          
                      %tr
                        %td{:align => "right", :valign => "top"} Card Number :
                        %td{:valign => "top"}
                          %input#textfield4{"ng-required" => "true", "data-stripe" => "number", :maxlength => "16", :style => "", :type => "text"}/              
                      %tr
                        %td{:align => "right", :valign => "top"} CVC :
                        %td{:valign => "top"}
                          %input#textfield4{"ng-required" => "true", "data-stripe" => "cvc", :maxlength => "4", :style => "width:50px;", :type => "text"}/
                      %tr
                        %td{:align => "right", :valign => "top"} Expiration (mm/yyyy) :
                        %td{:valign => "top"}
                          %input#textfield4{"ng-required" => "true", "data-stripe" => "exp-month", :maxlength => "2", :name => "textfield4", :style => "width:50px;", :type => "text"}/
                          %input#textfield4{"ng-required" => "true", "data-stripe" => "exp-year", :maxlength => "4", :name => "textfield4", :style => "width:50px;", :type => "text"}/              
                      %tr
                        %td{:align => "right", :valign => "top"} Amount :
                        %td{:valign => "top"}
                          %input#textfield7{"ng-required" => "true", "ng-model" => "funding.amount", :name => "textfield7", :type => "text"}/
                      %tr
                        %td{:valign => "top"}
                        %td{:valign => "top"}
                          %span.f11                    
                            %a{:href => "javascript:void(0)"}
                              Terms & Conditions
                      %tr
                        %td{:valign => "top"}  
                        %td{:valign => "top"}
                          %button.greenbtn{:href => "javascript:void(0)", :style => "padding:10px; font-size:14px; letter-spacing:0;", "ng-disabled"=>"card_details.$invalid", "ng-click" => "callStripe()"} Submit Payment
                  %a.overlay_close{:href => "javascript:void(0)", "ng-click" => "closePreview()"}                                                                                                 
  
              .crowd-doer-overlay
                .crowd-doer-popup
                  .crowd-doer-heading Crowd-Doers
                  %table{cellpadding: "0", cellspacing: "0", width: "100%"}

                    %tr
                      %td
                      %td Sharing
                      %td Funding
                      %td Perks
                      %td Max Participants
                    
                    %tr{"ng-repeat" => "level in recd_data.support_levels"}
                      %td {{level.level_name}}
                      %td {{level.shares}}
                      %td {{level.funding}}
                      %td{"ng-bind-html" => "level.perks"}
                      %td {{level.max_participants}}
                    
        

  .cfix
:javascript
  var current_artist_id = "#{@artist_id}"