- if defined?(@connect_error) && @connect_error == true
	:javascript
		var scope = opener.angular.element(opener.$('form[name=step1]')).scope();
		scope.connectError = true;
		scope.connectNetwork = '#{network}';
		scope.$digest();
:javascript		
	if('#{share}' == "share") {
		var share_url = opener.location; 
		if ("#{PADRINO_ENV}" != "production") {
	    share_url = 'http://mme.herokuapp.com/Band_Home.html';
	  }
	  	var crowd_scope = opener.angular.element(opener.$('.crowd_scope')).scope();

	  	crowd_scope.setGlobalVar('#{logged_in}','#{nw_hash}');
	  	
	  	crowd_scope.recd_data.artist_stats = opener.angular.fromJson('#{artist_stats}');
		crowd_scope.recd_data.crowd_stats = opener.angular.fromJson('#{crowd_stats}');
		crowd_scope.$apply();

		var scope = opener.angular.element(opener.$('.scope_use')).scope();			
		if('#{nwtype}' == "twitter"){			
			window.location.replace('https://twitter.com/share?url='+escape(share_url)+"&text="+scope.artist.first_name+" is auditioning on MME!!");
		} else {			
			var previewImg = scope.artist.avatar;
			var content = "&p[url]="+escape(share_url)+"&p[title]="+escape( scope.artist.first_name + ' on My Music Empire')+"&p[summary]="+escape( scope.artist.bio)+"&p[images][0]="+escape(previewImg)+"&";
			window.location.replace('http://www.facebook.com/sharer/sharer.php?s=100'+content,'FBShare','toolbar=0,status=0,width=548,height=325,top=100,left=50');
		}		
	} else {
		//opener.location.href = "/register#/step3";
		window.close();
	}
	